*{
    margin: 0;
    padding: 0;
}

/* rgb(34, 34, 47); */
body{
    background-color: rgb(34, 34, 47);
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* navbar */

.navbar{
    background-color:rgb(51, 51, 70) ;
    /* background-color: grey; */
    position:sticky;
}

.navbar-brand{
    display:inline-flex;
}

.navbar-toggler{
    border:0;
}

.navbar-light .navbar-nav .nav-link{
    text-decoration: none;
    color: white;
}


.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: none;
    color:rgb(154, 68, 234);
    /* color: lavender; */
    
}

/* firstsection */

/* left */
.firstsection{
    position:relative;
}


.purple{
    color: rgb(154, 68, 234);
    font-weight:bold;
}

#element{
    color: rgb(154, 68, 234);
}

.leftsection{
    font-size: 3.5rem;
    font-weight: bold;
    
}


.text{
    text-align:left;
    padding-left: 100px;

}

@media (max-width:600px){
    .leftsection{
        font-size: 1.5rem;
        height: 20;
    }

    .text{
        padding: 0;
        font-size: 50px;
        text-align: center;
        align-items: center;
    
    }
}


.image img{ 

    /* margin-right: -11px; */
    display:flex;
    width:fit-content;
    height: 500px;
    border-radius: 3px;
    /* margin-left:-15px; */
}

/* right-image */
.row{
  margin: 0;
}

/* resume-button */
.btn-dark:hover{
    background-color: white;
    color: rgb(34, 34, 47);
}

hr{
    display: block;
    background:#9C97F1; 
    height: 1.5px;
    width: 80%;
}

/* secondsection */

.lead{
    font-size: 1.2rem;
    color: grey;
    margin: 0;
}
.header1{
    font-size: 2.5rem;
    font-weight: bold;
}

.header2{
    font-size: 2.0rem;
}

/* socials */
.btn-dark{
    padding: 10px 30px;
}

h5:hover{
    color: black;
}

.facebook:hover{
    background-color: skyblue;
}

.card img{
    object-fit: cover;
    height: 236px;
    width: 100%;
}