*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(34, 34, 47);
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(38, 38, 54);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

.navbar-expand-md{
    justify-content: space-around;
}

.left{
    font-size: 1.5rem;
}

.navbar ul a{
    text-decoration: none;
    color: white;
}

.right a:hover{
    text-decoration: none;
    color:rgb(154, 68, 234);
    /* color: lavender; */
    
}

/* firstsection */

/* left */
.firstsection{
    position:relative;
}


.purple{
    color: rgb(154, 68, 234);
    font-weight:bold;
}

#element{
    color: rgb(154, 68, 234);
}

.leftsection{
    font-size: 3.5rem;
    font-weight: bold;
    
}


.text{
    text-align:left;
    padding-left: 100px;

}

@media (max-width:600px){
    .leftsection{
        font-size: 1.5rem;
        height: 20;
    }

    .image{
        height: 300px;
        width: 300px;
        margin: 30px 0px !important;
        padding: 0 !important;
    }

    .text{
        padding: 0;
        align-items: center;
    }
}


/* right-image */
.image{
    margin-left: 130px;
}

/* secondsection */

.secondsection .lead{
    font-size: 1.2rem;
    color: grey;
    margin: 0;
}
.header1{
    font-size: 2.5rem;
    font-weight: bold;
}
